@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility text-primary {
  @apply text-neutral-700 dark:text-stone-300;
}

@utility text-secondary {
  @apply text-neutral-500 dark:text-neutral-400;
}

@utility text-tertiary {
  @apply text-neutral-400 dark:text-neutral-500;
}

@utility text-highlight {
  @apply text-stone-50;
}

@utility text-link {
  @apply text-blue-600 dark:text-blue-400;
}

@utility bg-main {
  @apply bg-stone-50 dark:bg-neutral-800;
}

@utility image-pixelated {
  image-rendering: pixelated;
}
