@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    @apply text-neutral-700 dark:text-stone-300;
  }

  .text-secondary {
    @apply text-neutral-500 dark:text-neutral-400;
  }

  .text-tertiary {
    @apply text-neutral-400 dark:text-neutral-500;
  }

  .text-highlight {
    @apply text-stone-50;
  }

  .text-link {
    @apply text-blue-600 dark:text-blue-400;
  }

  .bg-main {
    @apply bg-stone-50 dark:bg-neutral-800;
  }

  .image-pixelated {
    image-rendering: pixelated;
  }

  .crt {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to top, #000000, #000000, #ffffff, #ffffff);
    background-size: cover;
    background-size: 100% 2.5px;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .vignette {
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.2) 95%
    );
  }

  .scanline {
    background-color: lightblue;
    animation: glideDown 10s linear infinite;
    height: 25vh;
  }

  @keyframes glideDown {
    0% {
      top: -25vh;
    }
    100% {
      top: 125vh;
    }
  }

  .grain {
    background:
      repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    animation: grainKeyframes 0.2s infinite alternate;
  }
  @keyframes grainKeyframes {
    100% {
      background-position:
        50% 0,
        60% 50%;
    }
  }

  .chromatic-aberration {
    -webkit-filter: url(#chromaticAberration);
  }
}
